
html{
	background: url("../img/bg2.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}



.links li{
	float:right;
	padding-right: 20px;
	color:#FFFFFF;
	display:inline;
	top:200px;


}
.jumbotron h1{
	font-family: Comic Sans, Comic Sans MS, cursive;
	color: #802C96;
	font-size: 75px;
	opacity: .9;
	text-align: center;
	margin: 0 auto;

	
}
.jumbotron img {
	padding-left: 20px;
}
.cpyrght p{
	padding-top: 510px;

	padding-left: 1170px;
	opacity: .6;
}
.links a{
	color:#4d5359;
}

button{
	opacity: .6;
}
